<!-- Mentee로 로그인했을 때, mypage -->
<!doctype html>
<!-- posts/new처럼 db전송까지 form 만들기 -->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<!--<link rel="icon" href="imgs/favicon.ico">-->

	<title>Tridge</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/carousel.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/carousel_mypage2.css" rel="stylesheet">
	<!-- Font Awesome 사용 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>

<body style="background-color: #e3e4e5bb">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/" style="font-family: 'Anton', sans-serif; font-size: 2.5rem; margin-left: 1.5rem">Tridge</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto" style="font-family: 'Fjalla One', sans-serif; font-size: 1.2rem;">
					<li class="nav-item active">
						<a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
																		<!-- currentUser는 session에 저장됨 -->
						<a href="/tutors/new" class="nav-link"><%= currentUser.username %>님 mypage</a>
					</li>
				</ul>

				<!-- 스터디 조회 -->
				<form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>

			</div>
		</nav>
	</header>


	<!--<main role="main">-->
	<!-- Marketing messaging and featurettes
      ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">
		<!--<hr class="featurette-divider"> -->
		<div class="area_profile">
			<div class="fb-profile">
				<img align="left" class="fb-image-profile thumbnail" src=<%= findUser.img %>>

				<div class="fb-profile-text">
					<h1><%= currentUser.username %> 님</h1>
					<Hr style="margin-left: 220px; margin-bottom: 50px;">
				</div>

				<div id="a1" style="display: block;">
					<!-- Tab links -->
					<div class="tab" style="width: 75%">
						<button class="tablinks" onclick="openCity(event, 'Regist')">신청 튜터링 조회</button>
						<button class="tablinks" onclick="openCity(event, 'Profile')">내 프로필</button>
					</div>
					<hr>
					
					<!-- 튜터링 신청하기 버튼 -> 튜터링스키마에 participateUser에 이 id가 저장. -->
					<!-- participateUser에 저장된 userid였을 때 -> tutor 스키마를 가져오기(tutor.js)에서 -->	
				
					<!-- 1. 신청 튜터링 저장 후, DB에서 불러오는 코드로 수정 -->
					<!-- Tab content -->
					<!-- 내가 신청한 tutors 스키마만 가져오기 -->
					<div id="Regist" class="tabcontent">

						<div class="row">
                            <% tutors.forEach(function(select_tutor) { %>
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img class="card-img-top" style="height: 20rem;" src=<%= select_tutor.img %>>
                                        <div class="card-body">
                                            <p style="font-weight:bold"><%= select_tutor.title %></p>
                                            <p class="card-text"><%= select_tutor.info %></p>
											<p style="font-weight:bold">지역: <span style="font-weight:normal"><%= select_tutor.location %></span></p>
											<p style="font-weight:bold">시작날짜: <span style="font-weight:normal"><%= select_tutor.startdate %></span></p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-muted"><%= select_tutor.createdDate %></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
						<% }) %>
						</div>
					</div>

			
					
					<!-- 3. 프로필수정, 등록 -->				
				
					<div id="Profile" class="tabcontent">
						<!--<center><h3>내 프로필</h3></center>-->
						<center>
							<!-- findUser ??? -->

							<div class="card" style="width: 30rem;">
								<div class="card-body">
									<h5 class="card-title">내 프로필 설정</h5>
									<!-- circle profile-->
									<!--<div class="row">-->
									<!--<div class="small-12 medium-2 large-2 columns">-->
									<form method="post" action="/tutors/crprofile?_method=put" enctype="multipart/form-data">
										<div class="circle">
											<!-- User Profile Image -->
												<img class="profile-pic" src=<%= findUser.img %>>
											<!-- Default Image -->
											<!-- <i class="fa fa-user fa-5x"></i> -->
										</div>
										<div class="p-image">
											<i class="fa fa-camera upload-button"></i>
											<input class="file-upload" type="file" name="fileProfile" accept="image/*" />
										</div>

									
										<!-- value added -->
										<p class="card-text">
												<label for="exampleFormControlTextarea1">자신에 대해 간략하게 소개해주세요.</label>
												<textarea class="form-control" name="exampleFormControlTextarea1" id="exampleFormControlTextarea1" rows="3">
													<%= findUser.selfInfo %></textarea>
										</p>
									
										<div class="card-body">
											<button type="submit" class="btn btn-outline-info">등록하기</button>
										</div>
									</form>
								</div>
							</div>
						</center>
					</div>
				</div>

			</div>
		</div>
	</div><!-- /.container -->

	<hr class="featurette-divider">
	<!-- FOOTER -->
	<footer class="container">
		<p class="float-right"><a href="/">Back to Home</a></p>
		<p>&copy; 201333534 박병기 &nbsp / &nbsp 201432537 강예슬</p>
	</footer>
	<!--</main>-->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="js/vendor/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vendor/holder.min.js"></script>



	<!-- added -->
	<script>
		$(document).ready(function() {
			// $(window).resize(function() {
			// 	if ($(window).width() <= 768) {
			// 		$('div ul').removeClass().addClass('nav flex-column');
			// 		if ($('#a1').css('display') == 'block') {
			// 			$('#a1').hide();
			// 			$('#a2').show();
			// 		}
			// 	}
			// 	if ($(window).width() > 768) {
			// 		$('div ul').removeClass().addClass('nav nav-tabs');
			// 		if ($('#a2').css('display') == 'block') {
			// 			$('#a1').show();
			// 			$('#a2').hide();
			// 		}
			// 	}
			// });

			/* profile upload */
			var readURL = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						$('.profile-pic').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$(".file-upload").on('change', function() {
				readURL(this);
			});

			$(".upload-button").on('click', function() {
				$(".file-upload").click();
			});

			/* reg upload */
			var readURL2 = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						$('#reg_img').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$("#reg_file").on('change', function() {
				readURL2(this);
			});

			$("#bt1").on('click', function() {
				$("#reg_file").click();
			});

		})

		// added for tab
		function openCity(evt, cityName) {
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}

			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}

	</script>

</body>

</html>
